.experience_title{
    padding: 4px 80px;
}
.experience_time_line_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}
.experience_time_line{
  background-color: green;
  width: 85%;
  height: 4px;  
}
.experience_container{
    display: flex;
}
.vertical_line{
    background-color: green;
    height: 93px;
    width: 2px;
}
.experience_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}
.experience{
    text-align: center;
}

