.experience_title {
    padding: 4px 80px;

}

.experience_time_line_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 4px;
    overflow-y: visible;
}

.experience_row {
    display: flex;
    width: 90%;
    min-height: 48px;
}

.experience_container {
    width: 50%;
    display: flex;
}

.left_experience_container {
    justify-content: end;
}

.vertical_line_container {
    width: 2px;
    background-color: green;
}

.crossline {
    background-color: green;
    width: 48px;
    height: 2px;
    margin-top: 16px;
}

.experience_matter {
    padding: 8px;
}

.left_experience_matter {
    text-align: end;
}

.time_range {
    font-weight: bold;
    font-size: small;
}

.designation {
    margin-top: 24px;
    font-weight: bold;
    font-size: medium;
}

.organization {
    font-weight: bold;
    font-size: small;
}

.work_ul {
    margin-top: 24px;
    margin-left: 24px;
    text-align: start;
    line-height: 1.5;
}

.work_ul li {
    font-size: small;
}