/* .horizontal_line{
    width: 680px;
    display: flex;
    border-right: 6px solid green;
    height: 480px;
    align-items: center;
    justify-content: center;
    also we can do
     background: green;
    width: 5px;
    height: 480px;
} */

.experience_title{
    padding: 4px 80px;
}
.horizontal_line{
  background-color: green;
  width: 86vw;
  height: 4px;
  /* padding: 4px 80px; */
  margin-top: 22px;
  margin-left:  80px;
  
}

.vertical_lines{
    display: flex;
}

.vertical_line_1{
    background-color: green;
    height: 93px;
    width: 2px;
    margin: 0px 220px;
}

.vertical_line_2{
    background-color: green;
    height: 93px;
    width: 2px;
    margin: 0px 220px;
}

.vertical_line_3{
    background-color: green;
    height: 93px;
    width: 2px;
    margin: 0px 220px;
}

.experience_heading{
    position: relative;
    top: 100px;
    width: 200px;
    margin-left:100px;
}

.experience_matter{
    position: relative;
    top: 120px;
    width: 250px;
    font-size: 12px;

}