.experience_title{
    padding: 4px 80px;

}

.experience_container{
    display: flex;
    height: 50%;
    padding: 4px 80px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.part1{
    width: 30%;
    height: 60vh;
    border-right: 2px solid green;
    display: flex;
    justify-content: flex-end;
}


.section_1, .section_2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}


.crossline1_1{
    display: flex;
    background-color: green;
    width: 80px;
    height: 2px;
    
}

.part2{
    width: 30%;
    height: 60vh;
    border-left: 2px solid green;
    display: flex;
    justify-content: flex-start;
}


.crossline2_2{
    display: flex;
    background-color: green;
    width: 80px;
    height: 2px;
    
}

.matter2_1, .matter2_2{
    padding-left: 20px;
}